{% extends 'base.html' %}
{% load static %}

{% block title %}
    Playlist
{% endblock %}

{% block content %}
    <h1> Playlist </h1>
    <br>
    {% if list_songs %}
        {% for song in list_songs %}
            <h2> {{ song.name }} </h2>
            <p> {{ song.author }} </p>
            <p> {{ song.albom }} </p>
            <img src="{% static 'img/album/' %}{{ song.author }} {{ song.albom }}.jpg" width="200px" height="200px">
            <br>
            <br>
            <a href="{{ song.get_absolute_url }}"> Play Song </a>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}