{% extends 'base.html' %}
{% load static %}

{% block links %} 
    <link rel="stylesheet" href="{% static 'play_app/css/playlist.css' %}">
{% endblock %}

{% block title %}
    Playlist
{% endblock %}

{% block content %}
    <div class="info-playlist">
        <div class="icon">
            <img class="img-icon" src="{% static 'play_app/img/album/Rihanna Loud.jpg' %}" alt="" width="200px" height="200px">
        </div>

        <div class="playlist-content">
            <div class="name">
                <h3>Name Your Playlist</h3>
            </div>

            <div class="controls">
                <button class="circle">
                    <div class="triangle"></div>
                </button>

                <div class="count-songs">
                    <h4>User × 3 tracks</h4>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="music-list">
    {% if list_songs %}
        {% for song in list_songs %}
            <div class="song-row">
                <div class="album-art">
                    <img src="{% static 'play_app/img/album/' %}{{ song.author }} {{ song.albom }}.jpg" alt="{{ song.albom }}">
                </div>

                <div class="song-info">
                    <div class="song-name-bubble">
                        {{ song.name }}
                    </div>
                    <div class="author-bubble">
                        {{ song.author }}
                    </div>
                </div>

                <div class="album-bubble">
                    {{ song.albom }}
                </div>

                <div class="duration-bubble">
                    <a href="{{ song.get_absolute_url }}">Play</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}